In [24]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

import numpy as np
import pandas as pd

In [31]:
race_data = pd.read_csv("./Downloads/Dataset 0-2.csv",  
                  names=["Distance", "Altitude"])
race_data

     Distance    Altitude
0    0.193820  588.625454
1    0.658223  583.026276
2    1.120367  564.142772
3    1.584751  558.433806
4    2.045234  529.779188
5    2.402284  514.829748
6    2.756840  485.205338
7    3.219040  466.651198
8    3.619187  456.358591
9    4.024291  475.214648
10   4.488097  466.102259
11   4.951567  455.013691
12   5.419181  468.298016
13   5.889820  499.367965
14   6.357004  510.127171
15   6.824208  520.996164
16   7.292681  539.330728
17   7.759978  550.748660
18   8.228003  566.448316
19   8.696943  587.527576
20   9.165864  608.497047
21   9.571514  630.564397
22   9.893525  658.340712
23  10.276548  671.734825
24  10.719911  666.794373
25  11.158923  636.273363
26  11.621403  619.366040
27  12.085209  610.253652
28  12.548585  598.616144
29  13.010673  579.403278
30  13.474909  572.816009
31  13.938434  562.056804
32  14.378761  539.264855
33  14.797745  515.353070
34  15.239715  502.222448
35  15.704622  499.587541
36  16.173711  521.545103
37  16.636063  553.636079
38  16.990347  565.954271
39  17.411217  584.233941
40  17.877357  588.845029
41  18.341125  579.513066
42  18.804464  567.655982
43  19.268643  560.739350
44  19.734782  565.350438
45  20.198849  557.775080
46  20.664223  557.884867
47  21.132939  577.646673
48  21.600535  590.821210
49  22.066077  591.919088
50  22.530947  589.064605
51  22.995040  581.646086
52  23.288473  565.752994
53   3.471330  447.250090
54   1.871059  544.786947
55   5.705134  487.309871
56  20.419159  544.786947

In [36]:
jackson_data = pd.read_csv("./Downloads/Default Dataset-1.csv",
                          names=["x", "y"])
jackson_data

            x          y
0   11.791667   5.916667
1   12.166667   5.708333
2   12.250000   5.583333
3   13.041667   5.291667
4   12.583333   5.791667
..        ...        ...
80   7.458333  20.916667
81   7.458333  21.208333
82   7.541667  21.333333
83   7.583333  21.416667
84   7.666667  21.625000

[85 rows x 2 columns]

In [32]:
X = np.array(race_data["Distance"]).reshape(-1,1)
y = np.array(race_data["Altitude"]).reshape(-1,1)

# Polynomial Regression Model (Degree 11)
for i in range(20):
    polyreg = make_pipeline(PolynomialFeatures(i), LinearRegression())
    polyreg.fit(X,y)
    print("Degree: ", i, " Score: ", polyreg.score(X,y))

    #print(polyreg.named_steps["linearregression"].coef_)

Degree:  0  Score:  0.0
Degree:  1  Score:  0.13098526826622714
Degree:  2  Score:  0.16285026396902735
Degree:  3  Score:  0.17489913073069485
Degree:  4  Score:  0.5236482796659561
Degree:  5  Score:  0.6829715746435134
Degree:  6  Score:  0.7589908128432462
Degree:  7  Score:  0.8786033968194027
Degree:  8  Score:  0.8788785628329046
Degree:  9  Score:  0.9109881094032455
Degree:  10  Score:  0.9419705098916943
Degree:  11  Score:  0.9366393852801336
Degree:  12  Score:  0.9089153172702847
Degree:  13  Score:  0.8053610430822968
Degree:  14  Score:  0.7584002702471296
Degree:  15  Score:  0.7320544853609616
Degree:  16  Score:  0.7305626538843868
Degree:  17  Score:  0.7370353524597133
Degree:  18  Score:  0.48504063481647675
Degree:  19  Score:  0.34998060063460645

In [33]:
polyreg = make_pipeline(PolynomialFeatures(10), LinearRegression())
polyreg.fit(X,y)
print(polyreg.named_steps["linearregression"].coef_)

[[ 0.00000000e+00  1.38459095e+02 -1.83967061e+02  8.51054802e+01
  -2.19444032e+01  3.52353937e+00 -3.58340970e-01  2.28370406e-02
  -8.79328438e-04  1.86541189e-05 -1.67181034e-07]]